@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --font-mono:
    "Google Sans Code", "JetBrains Mono", "Fira Code", "Consolas", "Monaco",
    "Courier New", monospace;

  /* Abyss theme colors */
  --color-base-100: oklch(20% 0.08 209);
  --color-base-200: oklch(15% 0.08 209);
  --color-base-300: oklch(10% 0.08 209);
  --color-base-content: oklch(90% 0.076 70.697);
  --color-primary: oklch(92% 0.2653 125);
  --color-primary-content: oklch(50% 0.2653 125);
  --color-secondary: oklch(83.27% 0.0764 298.3);
  --color-secondary-content: oklch(43.27% 0.0764 298.3);
  --color-accent: oklch(43% 0 0);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(30% 0.08 209);
  --color-neutral-content: oklch(90% 0.076 70.697);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(84.8% 0.1962 84.62);
  --color-warning-content: oklch(44.8% 0.1962 84.62);
  --color-error: oklch(65% 0.1985 24.22);
  --color-error-content: oklch(27% 0.1985 24.22);
  --color-links: oklch(79.91% 0.141 60.1);
}

@layer base {
  html {
    font-family: var(--font-mono);
  }
}
